html body {
    font-size: 40px;
    /*width: 400px;*/
}

/*текстовое поле формы ввода*/
#description_task {
    width: 60%;
    height: 60px;
    font-size: 0.7em;
}

/*числовое поле формы ввода*/
#number_input {
    width: 5%;
    height: 60px;
    font-size: 70%;
    color: gray;
}

#tableDiv{
    margin-left: auto;
    margin-right: auto;
    width: 97%;
}
/*свойства ячеек таблицы*/
th, td {
    border: thin dotted #32372f;
    padding: 15px;
}
/*свойства заголовка таблицы*/
th {
    background-color: #95a1a2;
    font-size: 1em;
}
/*все строки, кроме первого*/
tr:not(:first-child){
    height: 150px;
}

/*кнопка в интерфейсе оператор*/
#submit_operator {
    margin-top: 30px;
    border-radius: 15px;
    cursor: pointer;
    border: none;
    font-size: 0.9em;
    width: 99%;
    height: 100px;
    /*padding: 6px 10px 6px 100px;*/
    background-color: #95a1a2;
    box-shadow: 0 3px 3px 0 #b6c8c6;
}
/*увеличенные значки чекбокса*/
#checkboxscale {
    transform: scale(3.5);
    opacity: 0.5;
    cursor: pointer;
    margin-left: 1.9em;
}

/*уведомлениее*/
.notify {
    color: #8b9790;
    font-size: 0.35em;
}

/*окно авторизации в целом*/
#login {
    font-size: 0.9em;
    color: #626e6f;
    text-align: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 300px;
  /*background-color: #0A246A;*/
}
#btnSendName{
    visibility: visible;
    font-size: 1.5em;
    margin-top: 30px;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    /*padding: 5px 500px 5px 20px;*/
    width: 80%;
}

#login input[type="radio"]{
    transform: scale(3);
    margin: 25px;
}
#login input[type="radio"]:checked{
    transform: scale(3);
}
/*текстовое поле ввода авторизации*/
#login #name {
    width: 80%;
    height: 80px;
    font-size: 90%;
    border: thin dotted black;
    margin-top: 50px;

}
#iam{
    transform: scale(2);
    margin: 10px;
}

/*линия - легенда в форме авторизации*/
fieldset {
    border: thin dotted gray;
    padding: 60px;
}

/*подвал*/
.footer {
    flex: 0 0 auto;
    margin-top: 50px;
    width: 99%;
    text-align: center;
    font-size: 30%;
    color: #9eb3b4;
}